html {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.buttons {
  font-size: 5vmin;
  display: inline-flex;
  justify-content: space-around;
  border: 10px solid white;
}

.button {
  flex-grow: 1;
}

.balls {
  display: inline-flex;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  font-size: 5vmin;
  border: 10px solid white;
  border-top: 0px;
}

.ball-list {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.ball {
  text-decoration: underline;
  text-shadow: 1px 1px 1px white;
}